/*сброс стилей*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Newsreader', sans-serif;
    background-color: rgb(19, 20, 22);
    color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}